@page "/"

<div class="jumbotron" xmlns="http://www.w3.org/1999/html">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">This is Planning Poker App using Fusion with Server-Side Blazor.</p>
    <p class="lead">
        <NavLink class="btn btn-primary btn-lg" href="new-game">New Game</NavLink>
    </p>
</div>
